---
import Layout from '../layouts/Layout.astro';
import style  from '../styles/style.css';
import { Icon } from 'astro-icon'
import Card from '../components/Card.astro';
---
<Layout title = 'Haruke Dev'>
    <section>
     <div class = 'spacer layer1'>
         <div class="container text-white text-center pt-40">
             <div class="text-5xl font-bold">Hi, I'm
                 <span class='underline hover:text-violet-500'>
                     Haruke
                 </span>
             </div>
             <div class='text-2xl font-normal text-gray-300 pt-4'>Software, Web & Discord bot Developer
             </div>
         </div>
         <div class="flex justify-center py-3">
             <button type="button" onclick="window.open('https://discord.gg/nZBX4Eqvzz', '_blank')" class="transition ease-in-out hover:-translate-y-1 hover:scale-110 text-white bg-purple-700 hover:bg-purple-900 focus:outline-none focus:ring-4 focus:ring-purple-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900 duration-300 sm:justify-self-center">
                <Icon name="akar-icons:discord-fill" class="text-white w-7 mr-1 -ml-1 h-7 inline-flex"/>
               │ Discord</button>

             <button type="button" onclick="window.open('https://github.com/xHaruke/', '_blank')" class="transition ease-in-out hover:-translate-y-1 hover:scale-110 text-white bg-purple-700 hover:bg-purple-900 focus:outline-none focus:ring-4 focus:ring-purple-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900 duration-300 ml-2 sm:justify-self-center">
                <Icon name="akar-icons:github-fill" class="text-white w-7 mr-1 -ml-1 h-7 inline-flex"/>
               │ Github</button>

             <button type="button" onclick="window.open('https://instagram.com/xharuke/', '_blank')" class="transition ease-in-out hover:-translate-y-1 hover:scale-110 text-white bg-purple-700 hover:bg-purple-900 focus:outline-none focus:ring-4 focus:ring-purple-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900 duration-300 ml-2 sm:justify-self-center">
                <Icon name="akar-icons:instagram-fill" class="text-white w-7 mr-1 -ml-1 h-7 inline-flex"/>
               │ Instagram</button>
         </div>
     </div>
     </section>
     <section>
       <div class = 'spacer layer2'>
           
       </div>
     </section>
</Layout>
